<!DOCTYPE html>
<html>
	<head>
		<% include include/head.html %>
		<style>
			#code {
				width: 10%
			}
		</style>
	</head>
	<body>
		<div id="content" class="center">
			<form action="/c" method="post">
				<h1><%= title %></h1>
				<input name="code" id="code" type="text" placeholder="code">
				<input name="url" id="url" type="url" placeholder="URL">
				<button id="ok" type="submit">OK</button>
				<br>
				<br>
				<hr>
				<% include include/footer.html%>
			<form>
		</div>
	</body>
</html>
