<!DOCTYPE html>
<html>
	<head>
		<% include include/head.html  %>
	</head>
	<body>
		<div id="content" nclass="center">
			<form action="/c" method="post">
				<h1><%= title %></h1>
				<input name="url" id="url" type="url" placeholder="URL" required>
				<button id="ok" type="submit">OK</button>
				<% include include/footer.html  %>
			<form>
		</div>
		<% include include/lib.html  %>
	</body>
</html>
