<!DOCTYPE html>
<html>
	<head>
		<% include include/head.html %>
	</head>
	<body>
		<div id="content" class="center">
			<h1>Url Not Found</h1>
			<h2>Code <%= code %></h2>
			<% include include/footer.html %>
		</div>
	</body>
</html>
