<!DOCTYPE html>
<html>
	<head>
		<title>Redirect</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>REDIRECT</h1>
		<p>Redirect to <%= url %></p>
	</body>
</html>
