<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/simba-fs/url-shortener" data-show-count="true" aria-label="Star simba-fs/url-shortener on GitHub">Star</a>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/simba-fs" data-show-count="true" aria-label="Follow @simba-fs on GitHub">Follow @simba-fs</a>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
