<div id="footer">
	<hr>
	<!-- Github follow button -->
	<a class="github-button" href="https://github.com/simba-fs" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @simba-fs on GitHub">Follow @simba-fs</a>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	
	<!-- Github repo star -->
	<a class="github-button" href="https://github.com/simba-fs/url-shortener" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star simba-fs/url-shortener on GitHub">Star</a>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	
	<br>
	
	<p>To prevent waste of resources. We will record your ip: <%= ip %></p>
</div>
