body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: #DDDDDD;
}

a {
	color: #00B7FF;
}

img {
	display: block;
	margin: auto;
}

input, button {
	border-radius: 5px;
	border-style: solid;
}

#content {
	border: 10px gray solid;
	border-radius: 10px;
	padding: 30px;
}
@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

/* my phone */
@media /*(min-width: 768px) and*/ (max-width: 991.98px) {
	* {
		font-size: 150%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* my computer */
@media (min-width: 1200px) {
}

