body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

a {
	color: #00B7FF;
}

img {
	display: block ruby;
	margin: auto;
}
