button img {
	height: 15px;
	width: 15px;
}

#qrcode {
	margin-bottom: 10px;
}

button {
	background-color: white;
	border: white;
	display: inline-block;
}

.tooltip:hover::before{
	content: attr(data-tooltip);
	position: absolute;
	margin-left: 14px;
	white-space: pre;
}

.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 100px;
	border: 2px solid;
}
