<h1>Verify Your Email</h1>
<p>Hi <%= username %>, to complete the registration, please verify your email: </p>
<br>
<a href="<%= verifyUrl %>"><%= verifyUrl %></a>
<br>
<p>You received this email because someone registerd an account in <%= email %>. If it's not you, please ignore this email</p>
